section#showcase{
    text-align: center;
    padding: 16rem 0;
    background-image: url(https://media.intostudy.com/image/upload/intoStudy/images/ImagesUni/Nankai%20University/Campus%20buildings/nankai-campus-building-statue_hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    @media (max-width: 950px) {
    padding: 10rem 0;        
        }
    .showcase-item{
        background-color: #fff;
        opacity: .9;
        width: 70%;
        margin: 0 auto;
        border-radius: 20px;
        padding: 20px 10px;
        @media (max-width: 1250px) {
            width: 90%;
        }
         @media (max-width: 970px) {
            width: 95%;
        }
        p{
            opacity: 1;
        }
    }

}