@import "placeholder";

.container {
  width: 90%;
  margin: 0 auto;
  // @media (min-width: 1000px) {
  //     width: 1200px;
  //     margin: 0 auto;
  // }
}
.half {
  width: 48%;
  @extend %utilits-half;
  @media (max-width: 920px) {
    width: 100%;
  }
}
.oneofthird {
  @extend %utilits-half;
  width: 33%;
  @media (max-width: 1100px) {
    //   width: 50%;
    width: 48%;
  }
  @media (max-width: 920px) {
    width: 100%;
  }
}
.oneoffour {
  @extend %utilits-half;
  width: 24%;
  @media (max-width: 1100px) {
    width: 33%;
  }
  @media (max-width: 920px) {
    width: 100%;
  }
}
.twoofthird {
  @extend %utilits-half;
  width: 65%;
  @media (max-width: 1100px) {
    width: 48%;
  }
}
.right {
  float: right;
}
.clear-fix {
  clear: both;
}
.title-red {
  font-size: 2rem;
  padding: 10px 0;
  font-family: "Permanent Marker", cursive;
  color: $asosiy-rang;
  @media (max-width: 1100px) {
    font-size: 1.6rem;
  }
}
.title-green {
  font-size: 2rem;
  padding: 10px 0;
  font-family: "Permanent Marker", cursive;
  color: $green;
  @media (max-width: 1100px) {
    //   width: 50%;
    font-size: 1.6rem;
  }
}
.big-title {
  font-family: "Barlow", sans-serif;
  font-size: 3.8rem;
  line-height: 1;
  color: #0a0a0a;
  opacity: 0.9;
  // width: 75%;
  padding: 10px 0;
  @media (max-width: 1100px) {
    font-size: 2.7rem;
  }
  @media (max-width: 920px) {
    font-size: 2rem;
  }
}
.text {
  color: #999;
  // width: 90%;
  line-height: 1.4;
  padding: 10px 0;
}
.a-btn {
  display: inline-block;
  margin: 20px 0;
  background-color: $asosiy-rang;
  padding: 20px 35px;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 60px;
  color: $oq;
  @media (max-width: 1100px) {
    padding: 15px 25px;

    font-size: 0.9rem;
  }
  @media (max-width: 550px) {
    padding: 8px 15px;
    font-size: 0.8rem;
  }
  &:hover {
    background-color: $sariq;
    transition: 0.5s;
  }
}
.a-button {
  display: inline-block;
  padding: 10px 40px;
  background-color: $qizil;
  color: $oq;
  border-radius: 10px;
  margin: 10px 0;
  &:hover {
    box-shadow: 0 0 0 3px $qizil;
  }
}
.red-t-50 {
  @media (max-width: 950px) {
    font-size: 2rem;
    // color: #aaa;
  }
  @media (max-width: 610px) {
    font-size: 1.6rem;
  }
}
.red-t-40 {
  @media (max-width: 950px) {
    font-size: 2rem;
    // color: #aaa;
  }
  @media (max-width: 610px) {
    font-size: 1.6rem;
  }
}
.black-t-50 {
  @media (max-width: 950px) {
    font-size: 2rem;
  }
  @media (max-width: 610px) {
    font-size: 1.6rem;
  }
}
.white-t-60 {
  @media (max-width: 950px) {
    font-size: 2rem;
  }
  @media (max-width: 610px) {
    font-size: 1.6rem;
  }
}
.white-t-25 {
  @media (max-width: 950px) {
    font-size: 1.3rem;
  }
  @media (max-width: 610px) {
    font-size: 1rem;
  }
}
.black-t-40 {
  @media (max-width: 950px) {
    font-size: 2rem;
  }
  @media (max-width: 610px) {
    font-size: 1.6rem;
  }
}
.red-t-28 {
  @media (max-width: 950px) {
    font-size: 2rem;
  }
  @media (max-width: 610px) {
    font-size: 1.6rem;
  }
}
.red-t-35 {
  @media (max-width: 950px) {
    font-size: 2rem;
    // color: #aaa;
  }
  @media (max-width: 610px) {
    font-size: 1.6rem;
  }
}
.red-t-34 {
  @media (max-width: 950px) {
    font-size: 2rem;
    // color: #aaa;
  }
  @media (max-width: 610px) {
    font-size: 1.6rem;
  }
}
