section#show-reg{
    .half{
        img{
            margin: 120px 0 0;
        }
        // background-color: #749;
        p, span{
            font-weight: 100;
            // font-size: 23px;
            text-align: justify;
        }
    }

}